@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #d8d8d8;
}

/*FRUZSI-homepage*/


.cim{
    position: relative;
    height: 100vh; 
    min-height: 600px; 
    max-height: 1200px; 
    width: 100%;
    margin-top: 100px;
    overflow: hidden; 
}

.cim img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 110%;
    min-height: 110%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: 0;

}

.picture-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.35) 20%,
        rgba(0, 0, 0, 0.0) 50%,
        rgba(0, 0, 0, 0.35) 80%,
        rgba(0, 0, 0, 0.85) 100%
    );
}